@model Department
@{
    
}

<h1>AddDept</h1>
<form method="post" action="/Department/SaveAdd">
        <input type="submit" value="Create" class="btn btn-primary"/>
        <a href="/Department/Index" class="btn btn-danger" >Cancel</a>
    <div>
        <label>Name</label>
        <input id="Name" value="@Model?.Name" type="text" name="Name" class="form form-control"/>
    </div>

    <div>
        <label>ManagerName</label>
        <input id="ManagerName"  value="@Model?.ManagerName" type="text" name="ManagerName" class="form form-control"/>
    </div>



</form>


