@model Department
@{
    
}

<h1>AddDept</h1>
<form method="get" action="/Department/SaveAdd">
    <div>
        <label>Name</label>
        <input id="Name" value="@Model?.Name" type="text" name="Name" class="form form-control"/>
    </div>

    <div>
        <label>ManagerName</label>
        <input id="ManagerName"  value="@Model?.ManagerName" type="text" name="ManagerName" class="form form-control"/>
    </div>

    <input type="submit" value="Create" class="btn btn-primary"/>


</form>

<a href="/Department/Index" class="btn btn-danger" >Cancel</a>
