@{
    ViewData["Title"] = "Privacy Policy";
    Layout="_StartLayout";
    //Layout=null;
}
<h1>@ViewData["Title"]</h1>
@section HeadSeaction{
    <p>Welcome MSG From Start View To Head Section</p>
}
@* @section FooterSeaction{
    <p>Welcome MSG From Start View To Footer Section</p>

} *@
